<a href="https://colab.research.google.com/github/Exjumper9/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-04 02:39:38--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.66M   783KB/s    in 29s

2019-11-04 02:40:07 (778 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22709125]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
import pandas as pd
df = pd.read_csv("LoanStats_2018Q4.csv", skiprows=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [6]:
df['term'].dtype

dtype('O')

In [12]:
term_0 = df.loc[0,'term']
print(term_0)
term_0

 36 months

' 36 months'

In [14]:
term_0.strip().strip(' months')

'36'

In [0]:
def term_2_int(myObject):
  return int(myObject.strip().strip(' months'))

In [16]:
df['term_int'] = df['term'].apply(term_2_int)
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'term_int'],
      dtype='object', length=145)

In [17]:
df['term_int'].head()

0    36
1    36
2    60
3    36
4    36
Name: term_int, dtype: int64

In [23]:
df['loan_status'].value_counts()

Current               103062
Fully Paid             17784
Charged Off             3636
Late (31-120 days)      2617
In Grace Period          792
Late (16-30 days)        512
Default                    9
Name: loan_status, dtype: int64

In [0]:
def loan_status_binary(currentStatus):  
  if currentStatus == 'Fully Paid' or currentStatus == 'Current': return 1
  else: return 0

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(loan_status_binary)

In [29]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_last_payment_amount', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'term_int', 'loan_status_is_great'],
      dtype='object', length=146)

In [30]:
df['loan_status_is_great'].value_counts()

1    120846
0      7566
Name: loan_status_is_great, dtype: int64

In [34]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100
df.isnull().sum().sort_values(ascending=False)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
orig_projected_additional_accrued_interest    128283
hardship_reason                               128276
hardship_status                               128276
hardship_type                                 128276
hardship_last_payment_amount                  128276
hardship_payoff_balance_amount                128276
hardship_loan_status                          128276
hardship_dpd                                  128276
hardship_length                               128276
payment_plan_start_date                       128276
hardship_end_date                             128276
hardship_start_date                           128276
hardship_amount                               128276
deferral_term                                 128276
settlement_date                               128165
settlement_term                               128165
settlement_amount                             128165
settlement_percentage                         128165
debt_settlement_flag_date                     128165
settlement_status                             128165
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
next_pymnt_d                                   21420
emp_title                                      20947
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11704
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
grade                                              0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
term                                               0
funded_amnt_inv                                    0
funded_amnt                                        0
annual_inc                                         0
last_pymnt_amnt                                    0
loan_amnt                                          0
issue_d                                            0
initial_list_status                                0
addr_state                                         0
total_acc                                          0
zip_code                                           0
delinq_2yrs                                        0
earliest_cr_line                                   0
title                                              0
inq_last_6mths                                     0
installment                                        0
purpose                                            0
sub_grade                                          0
home_ownership                                     0
int_rate                                           0
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
pymnt_plan                                         0
loan_status                                        0
verification_status                                0
loan_status_is_great                               0
collections_12_mths_ex_med                         0
policy_code                                        0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
hardship_flag                                      0
debt_settlement_flag                               0
num_accts_ever_120_pd                              0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
open_rv_12m                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
total_bal_il                                       0
open_rv_24m                                        0
mo_sin_rcnt_rev_tl_op                              0
max_bal_bc                                         0
total_rev_hi_lim                                   0
inq_fi                                             0
term_int                                           0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_rev_tl_op                               0
total_cu_tl                                        0
dtype: int64

In [35]:
df['last_pymnt_d']

0         Aug-2019
1         Jul-2019
2         Oct-2019
3         Oct-2019
4         Oct-2019
            ...
128407    Dec-2018
128408    Oct-2019
128409    Oct-2019
128410    Oct-2019
128411    Oct-2019
Name: last_pymnt_d, Length: 128412, dtype: object

In [0]:
# I wanted to create a mehtod to convert to a day, month, or year from the dataframe provided but I 
# need to figure out how to pass the feature name and not the values
def convert_to_date_MYD(date):
  return(pd.to_datetime(df[date], infer_datetime_format=True))

In [0]:
# I was currious as to what infer_datetime_format did and what the setting changed
?pd.to_datetime()

In [43]:
test = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
print(test)

0        2019-08-01
1        2019-07-01
2        2019-10-01
3        2019-10-01
4        2019-10-01
            ...
128407   2018-12-01
128408   2019-10-01
128409   2019-10-01
128410   2019-10-01
128411   2019-10-01
Name: last_pymnt_d, Length: 128412, dtype: datetime64[ns]

In [47]:
df['last_pymnt_d_month'] = test.dt.month
print(df['last_pymnt_d_month'])
df[['last_pymnt_d', 'last_pymnt_d_month']]

0          8.0
1          7.0
2         10.0
3         10.0
4         10.0
          ...
128407    12.0
128408    10.0
128409    10.0
128410    10.0
128411    10.0
Name: last_pymnt_d_month, Length: 128412, dtype: float64

       last_pymnt_d  last_pymnt_d_month
0          Aug-2019                 8.0
1          Jul-2019                 7.0
2          Oct-2019                10.0
3          Oct-2019                10.0
4          Oct-2019                10.0
...             ...                 ...
128407     Dec-2018                12.0
128408     Oct-2019                10.0
128409     Oct-2019                10.0
128410     Oct-2019                10.0
128411     Oct-2019                10.0

[128412 rows x 2 columns]

In [48]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'term_int',
       'loan_status_is_great', 'last_pymnt_d_month'],
      dtype='object', length=147)

In [49]:
df['last_pymnt_d_year']= test.dt.year
print(df['last_pymnt_d_year'])
df[['last_pymnt_d', 'last_pymnt_d_year']]

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
           ...
128407    2018.0
128408    2019.0
128409    2019.0
128410    2019.0
128411    2019.0
Name: last_pymnt_d_year, Length: 128412, dtype: float64

       last_pymnt_d  last_pymnt_d_year
0          Aug-2019             2019.0
1          Jul-2019             2019.0
2          Oct-2019             2019.0
3          Oct-2019             2019.0
4          Oct-2019             2019.0
...             ...                ...
128407     Dec-2018             2018.0
128408     Oct-2019             2019.0
128409     Oct-2019             2019.0
128410     Oct-2019             2019.0
128411     Oct-2019             2019.0

[128412 rows x 2 columns]

In [50]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'term_int', 'loan_status_is_great', 'last_pymnt_d_month',
       'last_pymnt_d_year'],
      dtype='object', length=148)

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [53]:
test2=[col in col

KeyError: ignored

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01